<div class="feedback">
    <h1>Feedback </h1>
    <p class="brdrcont">Overall experience?
      </p>
      <div class="firstdiv">
      <p>Terrible</p><p>Fair</p><p>Great</p>
      <fieldset class="feedback">
<input type="radio" id="star1"name="rating" value="1"/><label class = "full" for="star1"></label>
<input type="radio" id="star2"name="rating" value="2"/><label class = "full" for="star2"></label>
<input type="radio" id="star3"name="rating" value="3"/><label class = "full" for="star3"></label>
<input type="radio" id="star4"name="rating" value="4"/><label class = "full" for="star4"></label>
<input type="radio" id="star5"name="rating" value="5"/><label class = "full" for="star5"></label>
<input type="radio" id="star6"name="rating" value="6"/><label class = "full" for="star6"></label>

</fieldset></div>
<div class="clearflds"></div>
      <hr>
        <p class="brdrcont">Was the information provided in the page useful? 
      </p>
      <div><button type="button" class="btn"><span class="thumbsup"></span>&nbsp;Yes</button>
      <button type="button" class="btn"><span class="thumbsdown"></span>&nbsp;No</button></div>
      <div class="clearflds"></div>
      <hr>

        <p class="brdrcont"> How could this page or website can be improved?
      </p>
      <div><textarea rows="4" cols="60">
Type your text here...
</textarea>
<button type="button" class="btn">Submit</button></div>
     <div class="clearflds"></div>
   <hr>

    <a href="#" class="feedbackbtn">Feedback</a>
 </div>
