/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: Stag-Book;
	src: url(/assets/fonts/Stag-Book.otf);
}

@font-face {
	font-family: Open Sans-Regular;
	src: url(/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: Open Sans-SemiBold;
	src: url(/assets/fonts/OpenSans-SemiBold.ttf);
}
body{font-family: "Open Sans-Regular";}